[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
Flask = "<2.3"
gunicorn = "*"
dealer = "*"
toml = "*"
flask-redis = "*"
flask-apscheduler = "*"
tzlocal = "<3"
sentry-sdk = {extras = ["flask"], version = "*"}
flask-sse = "*"
gevent = "*"

[dev-packages]
mypy = "*"
types-requests = "*"
types-toml = "*"

[requires]
python_version = "3.12"
