[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
Flask = "*"
gunicorn = "*"
dealer = "*"
toml = "*"
flask-redis = "*"
flask-apscheduler = "*"
tzlocal = "<3"
sentry-sdk = {extras = ["flask"], version = "*"}

[dev-packages]

[requires]
python_version = "3.6"
