[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
Flask = "*"
gunicorn = "*"
raven = {version = "*",extras = ["flask"]}
dealer = "*"

[dev-packages]

[requires]
python_version = "3.6"
