<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} - Freitagsfoo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {{ bootstrap.load_css() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
            <a class="navbar-brand" href="#">Freitagsfoo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
              </ul>
            </div>
        </nav>
        
        <main role="main" class="container">{% block content %}{% endblock %}</main>
        {{ bootstrap.load_js() }}
    </body>
</html>
