<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} - Freitagsfoo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {{ bootstrap.load_css() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        {% if sentry_dsn %}
        <script type="text/javascript" src="/static/raven.min.js"></script>
        <script type="text/javascript">
            Raven.config("{{ sentry_dsn }}", {
                release: "{{ REVISION }}"
            }).install();
        </script>
        {% endif %}
        <script type="text/javascript" src="/static/handlebars.runtime.min.js"></script>
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
            <a class="navbar-brand" href="#">
                Freitagsfoo: {% block brand %}{% endblock %}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                  {% block navitems %}{% endblock %}
              </ul>
            </div>
        </nav>
        
        <main role="main" class="container">{% block content %}{% endblock %}</main>
        <footer class="footer">
            <div class="container">
                <span class="text-muted">freitagsfoo-web <a href="https://github.com/chaosdorf/freitagsfoo-web/tree/{{ REVISION }}" rel="noopener noreferrer" target="_blank">{{ REVISION }}</a></span>
            </div>
        </footer>
        {{ bootstrap.load_js() }}
        <script type="text/javascript" src="/static/main.js"></script>
    </body>
</html>
