{% extends "host_base.html" %}
{% block title %}Review talks{% endblock %}
{% block content %}
<h1>Hosting a Freitagsfoo: Review talks</h1>

<div class="alert alert-primary" role="alert">
    You can turn on the projector now. (Remember to select the input labelled "video in".)
</div>

<div class="alert alert-primary" role="alert">
    You can prepare the speaker's desk now.
</div>

<div id="talks-container"></div>

<div class="wizard-buttons">
    <a href="{{ url_for("host_check") }}" class="btn btn-secondary" role="button">Back</a>
    <button id="refresh-button" type="button" class="btn btn-info" onclick="fetchTable()" disabled>Refresh</button>
    <a href="{{ url_for("host_action") }}" class="btn btn-primary" role="button">Next: Action</a>
</div>
<script type="text/javascript" src="/static/talks.js"></script>
<script type="text/javascript" src="/static/templates/talks.js"></script>
{% endblock %}
