{% from 'bootstrap/nav.html' import render_nav_item %}
{% extends "base.html" %}
{% block brand %}Host{% endblock %}
{% block navitems %}
{{ render_nav_item("host_initial", "Step 1: Initial", use_li=True) }}
{{ render_nav_item("host_check", "Step 2: Check", use_li=True) }}
{{ render_nav_item("host_review_talks", "Step 3: Review talks", use_li=True) }}
{{ render_nav_item("host_action", "Step 4: Action", use_li=True) }}
{{ render_nav_item("host_final", "Step 5: Final", use_li=True) }}
{% endblock %}
