{% extends "host_base.html.j2" %}
{% block title %}Check{% endblock %}
{% block content %}
<h1>Hosting a Freitagsfoo: Check</h1>
<p>Checking stuff...</p>

{% raw -%}
<div id="check-status">
    <div v-if="piErrors.includes('infoBeamer')" class="alert alert-danger check-status" role="alert">
        Couldn't connect to
        <a href="https://info-beamer.com" rel="noopener noreferrer" target="_blank">info-beamer.com</a>.
        Please check the connection to the internet.
    </div>

    <div v-if="piErrors.includes('deviceMissing')" class="alert alert-danger check-status" role="alert">
        The Info-Beamer Pi ({{ piId }}) seems to be missing.
        You might need to powercycle the device. (Or plug it in, first.)
    </div>

    <div v-if="piErrors.includes('deviceWrongSetup')" class="alert alert-danger check-status" role="alert">
        The Info-Beamer Pi ({{ piId }}) is running the wrong setup:
        "{{ piSetupName }}" ({{ piSetupId }}) instead of
        "{{ piExpectedSetupName }}" ({{ piExpectedSetupId }}).
        <a v-on:click="piChangeSetup" class="alert-link">Change to {{ piExpectedSetupName }}?</a>
    </div>

    <div v-if="piErrors.includes('assignSetup')" class="alert alert-danger check-status" role="alert">
        Couldn't assign setup "{{ piSetupName }}" ({{ piSetupId }}) to the Info-Beamer Pi ({{ piId }}).
        <a v-on:click="piChangeSetup" class="alert-link">Retry?</a>
    </div>

    <div v-if="!checking && !piErrors.length && !networkErrors.length" class="alert alert-success check-status" role="alert">
        The Info-Beamer Pi ({{ piId }}) is running the setup "{{ piSetupName }}" ({{ piSetupId }}). (Yes, that's correct.)
    </div>

    <div v-if="piWarnings.includes('deviceOffline')" class="alert alert-warning check-status" role="alert">
        The Info-Beamer Pi ({{ piId }}) seems to be currently offline.
        You might need to powercycle the device. (Or plug it in, first.)
    </div>

    <div v-if="piWarnings.includes('deviceNotSynced')" class="alert alert-warning check-status" role="alert">
        The Info-Beamer Pi ({{ piId }}) seems to be out of sync.
        Please wait a bit and then try re-checking.
        If that doesn't help, you might need to powercycle the device.
    </div>
    
    <div v-if="!checking && !piErrors.length && !networkErrors.length" class="alert alert-primary" role="alert">
        You can turn on the projector now. (Remember to select the input labelled "video in".)
    </div>

    <div v-if="!checking && !piErrors.length && !networkErrors.length" class="alert alert-primary" role="alert">
        You can prepare the speaker's desk now.
    </div>

    <div v-if="networkErrors.length" class="alert alert-danger check-status" role="alert">
        A network error occurred (reason: "{{ networkErrors }}").
        Please check your network connection.
    </div>
{%- endraw %}

    <div class="wizard-buttons">
        <a href="{{ url_for("host_initial") }}" class="btn btn-secondary" role="button">Back</a>
        <button type="button" class="btn btn-info" v-on:click="doCheck" v-bind:disabled="checking">Re-Check</button>
        <a href="{{ url_for("host_action") }}" class="btn btn-primary" role="button">Next: Action</a>
    </div>
</div>
<script type="text/javascript" src="/static/host_check.js"></script>
{% endblock %}
