{% from 'macros_nav.html.j2' import render_nav_item %}
{% extends "base.html.j2" %}
{% block brand %}Host{% endblock %}
{% block navitems %}
{{ render_nav_item("host_initial", "Step 1: Initial", use_li=True) }}
{{ render_nav_item("host_check", "Step 2: Check", use_li=True) }}
{{ render_nav_item("host_action", "Step 3: Action", use_li=True) }}
{{ render_nav_item("host_final", "Step 4: Final", use_li=True) }}
{% endblock %}
