{% extends "host_base.html.j2" %}
{% block title %}Check{% endblock %}
{% block content %}
<h1>Hosting a Freitagsfoo: Check</h1>
<p>Checking stuff...</p>

<div id="check-status-container"></div>

<div class="wizard-buttons">
    <a href="{{ url_for("host_initial") }}" class="btn btn-secondary" role="button">Back</a>
    <button id="recheck-button" type="button" class="btn btn-info" onclick="doCheck()" disabled>Re-Check</button>
    <a href="{{ url_for("host_review_talks") }}" class="btn btn-primary" role="button">Next: Review talks</a>
</div>
<script type="text/javascript" src="/static/host_check.js"></script>
<script type="text/javascript" src="/static/templates/host_check.min.js"></script>
{% endblock %}
