{% extends "public_base.html.j2" %}
{% from "macros_talks.html.j2" import talks_table %}
{% block title %}Home{% endblock %}
{% block content %}
<div id="talks">
    <p>This Freitagsfoo, there will be the following talks:</p>
    
    {{ talks_table() }}
    
    <div class="wizard-buttons">
        <button type="button" class="btn btn-info" v-on:click="fetchState" v-bind:disabled="running.has('fetchState')">Refresh</button>
    </div>
</div>
<script type="text/javascript" src="/static/talks.js"></script>
{% endblock %}
