{% extends "public_base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<p>This Freitagsfoo, there will be the following talks:</p>

<div id="network-error" class="alert alert-danger talks-status" role="alert">
    Couldn't connect to the server.
    Please check your network connection.
</div>

<div id="error-fetch" class="alert alert-danger talks-status" role="alert">
    Couldn't fetch the talks data.
    Please check the connection to the internet.
</div>

<div id="talks-container"></div>

<div class="wizard-buttons">
    <button id="refresh-button" type="button" class="btn btn-info" onclick="fetchTable()" disabled>Refresh</button>
</div>
<script type="text/javascript" src="/static/talks.js"></script>
<script type="text/javascript" src="/static/templates/talks.js"></script>
{% endblock %}
