{% extends "public_base.html" %}
{% from "macros_talks.html" import talks_table %}
{% block title %}Home{% endblock %}
{% block content %}
<p>This Freitagsfoo, there will be the following talks:</p>

{{ talks_table() }}

<div class="wizard-buttons">
    <button id="refresh-button" type="button" class="btn btn-info" onclick="fetchTable()" disabled>Refresh</button>
</div>
<script type="text/javascript" src="/static/talks.js"></script>
<script type="text/javascript" src="/static/templates/talks.js"></script>
{% endblock %}
