{% macro talks_table() -%}
{% raw -%}
<div v-if="errors.has('network')" class="alert alert-danger talks-status" role="alert">
    Couldn't connect to the server.
    Please check your network connection.
</div>

<div v-if="errors.has('fetch')" class="alert alert-danger talks-status" role="alert">
    Couldn't fetch the data.
    Please check the connection to the internet.
</div>

<div class="table-responsive">
    <table id="talks-table" class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Person(s)</th>
                <th scope="col">Link to Wiki</th>
                <th scope="col" v-if="is_host">Announce?</th>
                <th scope="col" v-if="is_host">Begin?</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(talk, index) in state.talks.talks" v-bind:key="index" v-bind:class="{'table-primary': index == state['info-beamer'].announced_talk, 'table-success': index == state.talks.current.index, 'table-danger':  index == state.talks.current.index && talkRunningForMinutes >= 20}">
                <th scope="row"> {{ index }}</th>
                <td>{{ talk.title }}</td>
                <td>
                    <ul>
                        <li v-for="person in talk.persons" v-bind:key="index + person">
                            {{ person }}
                        </li>
                    </ul>
                </td>
                <td>
                        <a v-bind:href="talk.wiki_link" rel="noopener noreferrer" target="_blank">Link</a>
                </td>
                <td v-if="is_host">
                    <button type="button" class="btn btn-primary btn-block" v-on:click="doAnnounceTalk(index)" v-bind:disabled="running.has('announceTalk')" v-bind:class="{active: index == state['info-beamer'].announced_talk}">Announce</button>
                </td>
                <td v-if="is_host">
                    <div>
                        <b-dropdown text="Switch to" class="m-md-2" variant="success" v-if="state.talks.current.index == null">
                            <b-dropdown-item-button v-for="(input, input_index) in state.extron.available_inputs" v-bind:disabled="!(input.active)" v-bind:key="index + input" v-on:click="doBeginTalk(index, input_index + 1)" v-bind:disabled="running.has('beginTalk')">
                                {{ input.name }}
                            </b-dropdown-item-button>
                            <b-dropdown-item-button v-bind:key="index + 'no_input'" v-on:click="doBeginTalk(index, null)" v-bind:disabled="running.has('beginTalk')">
                                (no input)
                            </b-dropdown-item-button>
                        </b-dropdown>
                        <button type="button" class="btn btn-danger btn-block" v-on:click="doEndTalk(index)" v-bind:disabled="running.has('endTalk')" v-if="index == state.talks.current.index">
                            End ({{ Math.trunc(talkRunningForMinutes) }} minutes)
                        </button>
                    </div>
                </td>
            </tr>
            <tr v-if="state.talks.length == 0">
              <td class="text-center text-muted" colspan="4">
                Sadly, there are currently no talks. Why don't you go ahead and add one?
              </td>
            </tr>
        </tbody>
    </table>
</div>
<p>
    You might also want to see the <a v-bind:href="state.talks.wiki_link" rel="noopener noreferrer" target="_blank">wiki</a>.
</p>


{%- endraw %}
{%- endmacro %}
